body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fcfcff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #2e75b5;
}

#header {
    height: 72px;
    background-color: #2e75b5;
    color: #fcfcff;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    background-color: inherit;
    min-height: inherit;
}
#title-container {
    margin: 100px 60px 0px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 50px;
}
#headshot {
    height: 300px;
    width: 300px;
    background: rgba(0, 0, 0, 0) url("./1636315073541.jpeg") 0% 0% / 300px;
    border: 2px solid #1a132f;
    border-radius: 30%;
    text-align: center;
    flex-shrink: 0;
    transition: 0.25s;
    cursor: pointer;
}
#headshot:hover {
    background: rgba(0, 0, 0, 0.5) url("./1636315073541.jpeg") 0% 0% / 300px;
    background-blend-mode: darken;
}
#headshot:hover::after {
    content: "About Me";
    position: relative;
    top: 40%;
    color: #fcfcff;
    font-size: 30px;
    font-weight: bold;
}
.title-text {
    font-size: 50px;
}

.content-text {
    font-size: 22px;
    font-weight: bold;
}

#about-me {
    width: 50%;
    margin: 50px;
    padding: 30px;
    background-color: #61a4bc;
    color: #fcfcff;
    border: 3px solid #1a132f;
    border-radius: 30px;
}
#links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    border: 3px solid #1a132f;
    border-radius: 30px;
    padding: 20px;
}
.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.link-button {
    background-color: #61a4bc;
    color: #fcfcff;
    padding: 10px;
    border: 2px solid #2e75b5;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.link-button:hover {
    filter: brightness(0.75);
}
